# 1. What is a database? Differentiate between SQL and NoSQL databases.
ANSWER:

A database is a collection of organized data that can be easily accessed, managed, and updated. Databases are used to store and manage data that is used by applications or websites. There are two main types of databases: SQL and NoSQL.

SQL databases are based on the Structured Query Language (SQL) and are organized using tables, columns, and rows. SQL databases are known for their consistency, reliability, and the ability to handle complex transactions. They are often used for applications that require a lot of data manipulation and analysis, such as financial systems and inventory management.

NoSQL databases, on the other hand, are not based on a fixed schema and do not use SQL for querying data. Instead, NoSQL databases use different data models, such as document-based, key-value, or graph-based, to store data. NoSQL databases are known for their flexibility, scalability, and ability to handle large amounts of unstructured data. They are often used for applications that require a high level of scalability and performance, such as social media platforms and e-commerce websites.

# 2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
ANSWER:

DDL stands for Data Definition Language, which is a set of SQL commands used to define and manage the structure of a database. DDL commands are used to create, modify, and delete database objects such as tables, indexes, and constraints.

Here are some examples of commonly used DDL commands:

CREATE: This command is used to create a new database object, such as a table, view, or index. For example, the following SQL command creates a new table named "customers" with columns for customer ID, name, and email:

    CREATE TABLE customers (
        customer_id INT PRIMARY KEY,
        name VARCHAR(50),
        email VARCHAR(100)
    );

DROP: This command is used to delete an existing database object, such as a table or index. For example, the following SQL command drops the "customers" table:

    DROP TABLE customers;

ALTER: This command is used to modify the structure of an existing database object. For example, the following SQL command adds a new column to the "customers" table:

    ALTER TABLE customers ADD phone_number VARCHAR(20);

TRUNCATE: This command is used to delete all data from an existing table, while preserving the table structure. For example, the following SQL command removes all data from the "customers" table:

    TRUNCATE TABLE customers;

# 3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
ANSWER:

DML stands for Data Manipulation Language, which is a set of SQL commands used to manipulate data stored in a database. DML commands are used to insert, update, and delete data in a database.

Here are some examples of commonly used DML commands:

INSERT: This command is used to add new data to a table. For example, the following SQL command inserts a new row into the "customers" table with values for customer ID, name, email, and phone number:

    INSERT INTO customers (customer_id, name, email, phone_number)
    VALUES (1, 'John Smith', 'john@example.com', '555-1234');

UPDATE: This command is used to modify existing data in a table. For example, the following SQL command updates the phone number for the customer with ID 1:

    UPDATE customers
    SET phone_number = '555-5678'
    WHERE customer_id = 1;

DELETE: This command is used to remove data from a table. For example, the following SQL command deletes the customer with ID 1 from the "customers" table:

    DELETE FROM customers
    WHERE customer_id = 1;

# 4. What is DQL? Explain SELECT with an example.
ANSWER:

DQL stands for Data Query Language, which is a set of SQL commands used to retrieve data from a database. DQL commands are used to select and filter data from one or more tables in a database. The most commonly used DQL command is the SELECT statement, which retrieves data from a database. Other DQL commands include JOIN, which combines data from multiple tables, and UNION, which combines data from multiple SELECT statements.

Here is an example of how the SELECT command is used to retrieve data from a table:

Suppose we have a table named "employees" with the following columns: employee_id, first_name, last_name, email, phone_number, hire_date, and salary. To retrieve all data from this table, we would use the following SQL command:

    SELECT * FROM employees;

To select specific columns, we can list them after the SELECT keyword, separated by commas. For example, the following SQL command selects only the employee ID, first name, and last name columns from the "employees" table:

    SELECT employee_id, first_name, last_name FROM employees;

To filter the data based on certain criteria, we can use the WHERE clause. For example, the following SQL command selects only the employees whose salary is greater than 50000:

    SELECT * FROM employees WHERE salary > 50000;

# 5. Explain Primary Key and Foreign Key.
ANSWER:

Primary key and foreign key are two important concepts in relational database design, which are used to establish relationships between tables.

A primary key is a unique identifier for each record in a table. It is used to ensure that each record in the table can be uniquely identified and accessed. A primary key can be a single column or a combination of columns, and it must have a unique value for each record in the table. Common examples of primary keys include social security numbers, email addresses, or customer IDs.

A foreign key is a column or set of columns in a table that refers to the primary key of another table. It is used to establish a relationship between two tables, where the values in the foreign key column in one table match the values in the primary key column in another table. This relationship allows data to be linked and retrieved from multiple tables. For example, in a database that stores orders and customers, the orders table may have a foreign key column that refers to the prima

# 6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
ANSWER:

    import pymysql

    # Connect to the database
    conn = pymysql.connect(
        host='localhost',
        user='username',
        password='password',
        db='database_name'
    )

    # Create a cursor object
    cursor = conn.cursor()

    # Execute a query
    cursor.execute("SELECT * FROM table_name")

    # Fetch and print the results
    results = cursor.fetchall()
    for row in results:
        print(row)

    # Close the cursor and connection
    cursor.close()
    conn.close()

# 7. Give the order of execution of SQL clauses in an SQL query.
ANSWER:

The order of execution of SQL clauses in an SQL query is as follows:

    FROM clause: This clause specifies the tables from which the data is to be retrieved.

    WHERE clause: This clause specifies the conditions that the data must meet to be included in the result set. Rows that do not meet the condition specified in the WHERE clause will not be returned in the result set.

    GROUP BY clause: This clause is used to group the rows of the result set based on one or more columns. Aggregate functions, such as SUM or COUNT, can be used to calculate summary statistics for each group.

    HAVING clause: This clause is used to filter the groups that are returned in the result set. Only groups that meet the condition specified in the HAVING clause will be included in the result set.

    SELECT clause: This clause is used to specify the columns that are to be included in the result set. Aggregate functions can also be used in the SELECT clause to calculate summary statistics.

    ORDER BY clause: This clause is used to sort the rows in the result set based on one or more columns. The ORDER BY clause can sort the result set in ascending or descending order.

    LIMIT clause: This clause is used to limit the number of rows that are returned in the result set. The LIMIT clause can be used to return a specific number of rows, or a range of rows, from the result set.